/*mobile*/
#docs{
	padding: 0 5% 0 5%;
}
#docsNav a:hover {
	font-weight:bold;
}
#docsContent{
	width:1005;
	float:left;
}
#docsNav{
	width:100%;
	height:100%;
	box-sizing:border-box;
	position: fixed;
	left:0;
	top:8vh;
	background-color:white;
	display:none;
	font-family:'Roboto Slab', serif;
}
#docsNav a{
	text-decoration: none;
}
.groupTitle{
	display:block;
	color:var(--blue);
	border-bottom:0.1rem solid var(--blue);
}
.navLink{
	display:block;
	padding-left:1rem;
	margin-bottom:0.5rem;
	color:var(--black);
	display: block;                
}
.navLink::before {content: "•"; color: var(--blue)}
#docsShowNav{
	width:10vw;
	position:fixed;
	bottom:0.3rem;
	right:0.3rem;
	z-index:10;
}
/*desktop*/
@media only screen and (min-width: 992px) {
	#docsContent{
		width:65%;
		float:left;
		padding-top:3%;
	}
	#docsNav{
		width:25%;
		box-sizing:border-box;
		position:fixed;
		top:4rem;
		display:block;
		margin:3% 0 5% 70%;
	}
	#docsShowNav{
		display:none;
	}
}