#home{
	margin:0;
	padding:0;
}
#home::-webkit-scrollbar { 
    display: none; 
}
#home h1{
	word-break: break-word;
	text-align:center;
	color:black;
	font-size:3rem;
	background-color:rgba(255, 255, 255, .8);
}
#home h2{
	color:var(--blue);
}
#home p{
	box-sizing:border-box;
	word-break: break-word;
	color:black;
	font-size:3rem;
}
#home p a{
	color:var(--blue);
}
#home p a:hover{
	color:blue;
}
#home div{
	width:100vw;
	box-sizing:border-box;
	padding:2rem;
	padding-top:0;
}
#home div.main-title{
	width:100vw;
	height:40vh;
	display:inline-block;
	background-image: url("/src/img/kit.jpg");
	background-position: 0% 40%;
	background-repeat: no-repeat;
	background-size:cover;
	position:relative;
}
#home div.main-title h1{
		position:absolute;
		bottom:0;
		width:88vw;
}
@media only screen and (min-device-width: 768px){
	#home{
		overflow:scroll;
	}
}
@media only screen and (min-width: 992px) {
	#home{
		height: 93vh;
		padding:1vh 3vw 0 3vw;
		box-sizing:border-box;
	}
	#home p{
		font-size:1.3rem;
		border:none;
	}
	#home div{
		width:29vw;
		min-height:25vh;
		display:inline-block;
		float:left;
		padding:1rem;
		box-sizing:border-box;
		margin:0 1vw 1vh 1vw;
	}
	#home div.main-title{
		width:91vw;
		height:50vh;
	}
	#home div.main-title h1{
		position:absolute;
		bottom:0;
	}
}