:root {
	/*colors:*/
	--white:#E8E8E8;
	--blue:#00678F;
	padding:0;
	margin:0;
	font-size:6px;
}

/*mobile,every device*/
body{
	margin:0;
	padding:0;
	word-break: break-word;
	box-sizing:border-box;
}
#main{
	font-size:3.3rem;
	padding:0;
	margin-top:8vh;
}

#headerNav{
	overflow: hidden;
	background-color:var(--blue);
    position: fixed;
    top: 0;
	z-index:20;
    width: 100%;
	height:8vh;
	font-size:4.3rem;
	font-family: 'Righteous', "Arial Black";
	padding:1.2rem;
	box-sizing:border-box;
}
#headerNav a {
    float: left;
    display: block;
    color: var(--white);
    text-align: center;
    padding:1rem 1rem;
    text-decoration: none;
}
#headerNav a:hover {
	text-shadow : 0 0 1rem var(--white);
}
h1,h2,h3,h4,h5,h6{
	font-family:'Roboto Slab', serif;
}
p{
	font-family: 'Lora', serif;
	font-size:2.8rem;
}
/*Tablet*/
@media only screen and (min-device-width: 768px){
	:root{
		font-size:9px;
	}
}

/*desktop/laptop*/
@media only screen and (min-width: 992px) {
	:root{
		font-size:16px;
	}
	#headerNav{
		font-size:2rem;
		height:7vh;
		padding:0;
	}
	#main{
		margin-top:7vh;
		font-size:1.5rem;
	}
	p{
		font-size:1.2rem;
	}
} 